@media screen and (max-width:600px){
    .experiencecontent{
        flex-direction: column;
        text-align: left;
        gap: 20px;
        width: 90%;
    }

    .experiencecontent h4{
        text-align: center;
    }

}

@media screen and (max-width:1200px){
    .NavBar-PC{
        display: none;
    }

    .description h2{
        text-align: center;
        font-weight: 600;
    }

    .homecontainer{
        flex-direction: column;
    }

    .photo{
        height: 15rem;
    }

    .about{
        height: auto;
    }

    .aboutcontainer{
        flex-direction: column;
        width: 95vw;
    }
    
    .nextsection{
        display: none;
    }

    .experiencecontent h4{
        text-align: center;
    }
    
    .experiencecontent{
        flex-direction: column;
        text-align: left;
        gap: 20px;
        width: 90%;
    }

}

@media screen and (min-width:1201px){
    .NavBar-Mobile{
        display: none;
    }


}