@media screen and (max-width:1200px){
    .NavBar-PC{
        display: none;
    }

    .description h2{
        font-size: 25px;
        font-weight: 600;
    }

    .homecontainer{
        flex-direction: column;
    }

    .photo{
        height: 15rem;
    }

}

@media screen and (min-width:1201px){
    .NavBar-Mobile{
        display: none;
    }


}