@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    /* background-color: #6A9C89; */
    cursor: default;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    /* border: 5px solid white; */
    font-family: "Poppins", sans-serif;
}


/* PC Navigation */
.NavBar-PC{
    display: flex;
    padding: 10px;
    background-color: #475757;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

.NavBar-PC .logo-PC{
    font-size: 1.3rem;
    color: white;
    cursor: default;
}

.Navlinks-PC{
    display:flex;
    gap: 1rem;
}

.NavBar-PC a{
    text-decoration: none;
    text-align: center;
    color: black;
    border-radius: 20px;
    background-color: #DDDAD0;
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
    
}

.NavBar-PC a:hover, 
.NavBar-PC a#activeWindow{
    background-color: #B87C4C ;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0.2rem 1rem;    
}

/* Mobile Navigation */
.NavBar-Mobile{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #475757;
    width: 100vw;
    position: relative;
}

.NavBar-Mobile .logo-Mobile{
    font-size: 1.3rem;
    color: white;
    cursor: default;
}

.NavContainer{
    display: flex;
    align-items: center;
}

.ham{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.ham.open{
    transform: none;
}
.ham span{
    height: 2px;
    width: 20px;
    background-color: white;
}

.Navlinks-Mobile{
    position: absolute;
    top: 100%;
    right: 0;
    max-height: 0;
    width: 200px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #475757;
}

.Navlinks-Mobile.open{
    max-height: 100vh;
}

.Navlinks-Mobile a{
    color: white;
    text-decoration: none;
    width: 100%;
    font-size: 1.2rem;
    padding: 5px;
}

.Navlinks-Mobile a:hover{
    color: white;
    text-decoration: none;
    background-color: #B87C4C ;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 5px;
}

/* Home Container */
.homecontainer{
    /* position: relative; */
    /* background-color: #015551; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px;
    padding: 1rem;
}

.profileimg{
    /* background-color: #015551; */
    /* width: 100vw;
    height: 20rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    padding: 1rem;
    /* border: 2px solid red; */ 
}

.photo{
    border-radius: 50%;
    /* border: 9px solid red; */
    /* box-shadow: 2px 2px 10px; */
    height: 25rem;

}

.description{
    justify-items: center;
    /* width: 60vw; */
    padding: 1rem;
    border-radius: 20px;
    
}

.description h5{
    font-weight: 400;
    color: #475757;
}

.description h4{
    font-size: 20px;
    font-weight: 400;
    color: #475757;
    
}

.description h2{
    font-size: 40px;
    font-weight: 600;
}

.description .btn{
    display: flex;
    gap: 1rem;
}

.description .btn button{
    border-radius: 30px;
    border: 1px solid black;
    padding: 15px;
    font-weight: 600;
}

.description .btn button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.contactbtn{
    background-color: darkslategray;
    color: white;
}

.socials a img{
    margin: 20px 5px;
    height: 30px;
}


/* about Container */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.abouttitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.abouttitle h5{
    font-weight: 400;
    color: #475757;
}

.abouttitle h2{
    font-size: 40px;
    font-weight: 600;
}

.aboutcontainer{
    display: flex;
    flex-direction: row;
    width: 90%;
}

.aboutcontainer .profileimg .photo{
    border-radius: 20px;
    /* border: 2px solid black; */
}

.aboutcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.aboutmebox{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.aboutexperience, .abouteducation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    border-radius: 20px;
    padding: 20px;
    width: 100px;
    text-align: center;
    flex-grow: 1;
}

.aboutcontent h4{
    font-weight: 600;
}
.aboutcontent p{
    font-weight: 400;
    color: #475757;
}
.aboutme{
    margin-top: 20px;
}